.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/env.php

application/config/development/*.php

public/.htaccess

.buildpath
.project
.settings